/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--color-black: #000000 ;
--color-dark-bg: #141922 ;
--color-white: #ffffff ;
--color-grey: #7c7e83 ;
--color-playbar: #282828 ;
--color-green: #adff2f ;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    color: var(--color-grey);
}
h4{
    color: var(--color-white);
}
/*/General*/

/*Utility*/
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.debug{
    border: 1px solid var(--color-green);
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.j-end{
    justify-content: flex-end;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.a-center{
    align-items: center;
    align-content: center;
}
.a-self-end{
    align-content: flex-end;
}
.padding-15{
    padding: 15px;
}
.padding-l-r{
    padding: 0 15px;
}
.padding-top-15{
    padding-top: 15px;
}
.margin-l-r-15{
    margin: 0 15px;
}
.up-case{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.line-height{
    line-height: 2rem;
}

.text-white a{
    color: var(--color-white);
}
.svg-search img{
    width: 30px;
    vertical-align: middle;
    opacity: 0.8;
}
.svg-search img:hover{
    opacity: 1;
}
.co-white-icon{
    font-size: 40px;
    color: var(--color-grey);
    vertical-align: middle;
    
}
/*Utility*/

/*main*/
main{
    width: 100%;
    height: calc(100% - 90px);
    color: var(--color-white);
}
/*main-nav*/
.main-nav{
    width: 230px;
    min-height: 480px;
    background-color: var(--color-black);
    overflow: hidden;
}
.text-nav{
    color: var(--color-grey);
}
.text-nav:hover{
    color: var(--color-white);
}
.playlist-box ul {
    overflow-y: auto;
}
.playlist-box li{
    padding-top: 15px;
}

.logo-m{
    width: 120px;
}
.logo-xs{
    width: 30px;
    display: none;
}
.install-app img, .install-app p, .login-user img, .login-user h4{
    display: inline-block;
}
.login-user img{
    background-color: var(--color-grey);
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.install-app{
    border-bottom: 2px solid var(--color-grey);

}
.top-nav{
    height: calc(100% - 80px);
    
}
.bottom-nav{
    height: 80px;
}
/*/main-nav*/

/*main-content*/
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-dark-bg);
}
.scale{
    transform: scale(0.8);
    transition-duration: 1s;
}
.scale:hover{
    transform: scale(0.95);
}
#call-to-action{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
}
#call-to-action a{
    color: var(--color-white);
    
}

.btn-call-to-action{
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid var(--color-grey);
    border-radius: 20px;
}
.btn-call-to-action:hover{
    border: 1px solid var(--color-white);    
}
.main-section{
    margin-top: 80px;
}
.main-section ul li{
    padding: 15px;
    text-transform: uppercase;
}
.interation-link a{
    color: var(--color-grey);
}
.interation-link a:after{
    content: '';
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    border-bottom: 2px solid transparent;
}
.interation-link li:hover a:after{
   border-color: var(--color-green);
}
.row{
    margin: 0px -15px;
}
.col{
    width: calc(100% / 6);
    cursor: pointer;
}

.col img{
    width: 100%;
    display: block;
}
.test img{
    border-radius: 50%;
}
.test2 img{
    border-radius: 15px;
}
.cover-image{
    position: relative;
}
.col .cover-image:after{
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}
.col:hover .cover-image::after{
    opacity: 1;
}
/*main*/

/*footer playbar*/
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--color-playbar);
    position: fixed;
    z-index: 1000;
}
.footer-left-right{
    width: 230px;
}
.footer-mid{
    width: calc(100% - 230px);
}
.footer-left-right, .footer-mid{
    color: var(--color-white);
}
.flex-footer-center{
    align-items: center;
}
.flex-footer-col{
    flex-flow: column wrap;
    align-content: center;
}
.text-footer-s{
    font-size: 0.8rem;
}
.text-footer-sm{
    font-size: 0.6rem;
}
.col-footer{
    width: calc(100% / 3);
}

.footer-img{
    display:block;
    width: 100%;
    border-radius: 20px;
}
.icon-footer{
    padding: 0 2px;
}
.cursor-p{
    cursor: pointer;
}
.icon-m{
    font-size:30px; 
}
.icon-s{
    font-size: 23px;  
}
.icon-s, .icon-m{
    color: var(--color-white);
}
.scale-icon{
    transform: scale(1);
    transition-duration: 1s;
}
.scale-icon:hover{
    transform: scale(1.3);
}
footer form label {
    padding: 0 5px;
}
input[type="range"] {
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: var(--color-grey);
    border-radius: 10px;
    outline: none;
    
  }
  
input[type="range"]::-webkit-slider-thumb {
    display: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb{
    display: block;
    background-color: var(--color-green);
}
  
input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]:hover::-moz-range-thumb{
    display: block;
    background-color: var(--color-green);
}

.box-debug{
    width: 50px;
    height: 50px;
}
.footer-icon-right{
    width: 30px;
}
.footer-icon-right i{
    font-size: 12px;
}
.footer-bar-vol-right{
    width: 100%;
}

  
/*
.play-music{
    width: 230px;
}
.music-img{
    width: 40px;
}
.music-img img{
    width: 100%;
    border-radius: 3px;
    vertical-align: middle;
}
.play-box{
    width: calc(100% - 230px) ;
}

.play-bar{
    width: 100%;
}

.play-vol{
    width: 230px;
}
input [type="range"]{
    background-color: var(--color-green);
}
*/
/*/footer playbar*/

/*@media*/
@media screen and (max-width:1200px){
    .col{
        width: calc(100% / 4);
    }
    .d-flex{
        flex-wrap: wrap;
    }

}

@media screen and (max-width:992px){
    .col{
        width: calc(100% / 3);
    }
    .d-flex{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px){
    .col{
        width: calc(100% / 2);
    }
}

@media screen and (max-width:576px){
    .main-nav{
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content{
        width: calc(100% - 70px);
    }
    #call-to-action{
        width: calc(100% - 70px);
    }
    .main-nav a, .main-nav .playlist-box, .main-nav .logo-m, 
    .install-app p, .login-user h4{
        display: none;
    }
    .main-nav .logo-xs{
        display: block;
    }  
}
@media screen and (max-width:400px){
    .col{
        width: 100%;
    }
}